/* 
body
{
    background-image: url(https://fikiwiki.com/uploads/posts/2022-02/1645014563_2-fikiwiki-com-p-kartinki-arbuzi-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
} */

*, *::before, *::after {
    box-sizing: border-box;
}

nav
{
    background-color: green;
    height: 10vh;
}

.center
{
    background-color: black;
    height: 400vh;
    width: 100%;
}

.preview
{
    height: 100vh;
}

footer
{
    background-color: gold;
    height: 40vh;
    width: 100%;
    background-image: url(https://chudo-prirody.com/uploads/posts/2021-08/1628867848_190-p-zabavnie-foto-koshek-199.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

p
{
    word-wrap: break-word;
}

a
{
    width: 50vw;
    height: 50vh;
    text-decoration: none;
    color: white;
    background-color: aqua;
}

a:hover
{
    color: purple;

}

input
{
    display: block;
    border-color: transparent;
    color: rgb(166, 0, 207);
    background-color: rgb(255, 255, 255);
    border-radius: 0.4em;
    height: 5vh;
    transition: border ease-in-out .5s;
    width: 20em;
    margin: 0 auto 0.5em;
    outline: 0;
}

input:focus
{
    border-style:groove;
    border-color: rgb(124, 151, 3);
    color: rgb(26, 3, 158);
    transition: border ease-in-out 0.5s;
    outline: 0;
}

input::placeholder
{
    color: black;
    opacity: 0.4;
}

span
{
    text-align: center;
    color: white;
    font-size: 2em;
}