/* Навигация */
.nav-list
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list li
{
  height: 1vh;
  list-style: none;
  padding-right: 20px;
}

.nav-list a
{
  background-color: rgba(255, 255, 255, 0);
}

.bi-list
{
  cursor: pointer;
}

.nav-tel
{
  width: auto;
  height: 2vh;
  font-size: 1.2em;
  font-weight: lighter;
  font-family: 'Roboto Regular';
}

/* ФОРМА ВЫЕЗЖАЮЩАЯ*/
.Forma
{
  display: none;
  width: 50%;
  height: 100vh;
  z-index: -10;
  background-color: black;
  left: auto;
  top:0;
  overflow: hidden;
  position: fixed;
  right: 0;
  overflow-y: auto;
}

.bi-x
{
  color: gray; 
  transition: 0.8s; 
}

.bi-x:hover
{
  color: white;
  cursor: pointer;
  transition: 0.8s; 
}

.close-btn
{
  display: flex;
  justify-content: right;
  margin-right: 1em;
  margin-top: 1.5em;
}

.head-form
{
  font-size: 2.5em;
  color: gray;
}

.name-form
{
  margin-left: 1%;
  margin-top: .5em;
  background-color: whitesmoke;
}

.tel-form
{
  margin-left: 1%;
  margin-top: .5em; 
  background-color: whitesmoke;
}

.email-form
{
  margin-left: 1%;
  margin-top: .5em; 
  background-color: whitesmoke;
}

.comment
{
  margin-top: .5em; 
}

.text-area-comment
{
  margin-left: 1%;
  width: 25em;
  height: 10em;
  outline: none;
  background-color: whitesmoke;
}

.send-btn
{
  border-radius: 20px;
  background-color: whitesmoke;
  width: 15em;
  height: 3em;
  transition: 0.8s;
  margin-left: 1em;
}

.send-btn:hover
{
  background-color: blue;
  transition: 0.8s;
}

@keyframes move-left 
{
  0%
  {
    right: -1000px; 
  } 
  100%
  {
    right: 0px;
  }   
}

@keyframes move-right 
{
  0%
  {
    right: 0px; 
  } 
  100%
  {
    right: -1100px;
    display: none;
    z-index: -10;
    animation-fill-mode:forwards;
  }   
}

/* Превью */
.preview
{
  height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: center;
}

.preview img
{
  height: 125vh;
  width: 100%;
  /* filter: brightness(20%); */
  position: absolute;
}

.preview-text
{
  font-size: 5em;
  color: yellowgreen;
  text-shadow: 5px 5px 10px #000;
  -webkit-text-stroke: .5px white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  font-family: 'AmaticSC Bold';
  margin-top: 20vh;
}

#Tan
{
  background:linear-gradient(to top right,rgb(0, 180, 75),rgb(0, 160, 0),rgb(52, 248, 52));
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2em;
  font-family: 'AmaticSC Bold';
  position: relative;
  color:transparent;
}

#logo
{
  position: absolute;
  width: 30vw;
  height: 30vh;
  top: 0;
  background-image: url(../pics/logotype.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Превью - Кнопка перекидывающая на форму */
#req
{
  width: 30vw;
  height: 15vh;
  text-align: center;
  word-wrap: break-word;
  transition: linear .5s;
  position: relative;
  /* background: linear-gradient(90deg, rgba(191,221,108,1) 0%, rgba(121,214,94,1) 50%, rgba(22,138,14,1) 100%); */
  background-color: #50bd38;
  color: #FFEB73;
  font-weight: bold;
  font-size: 30px;
  border: #07580c 5px solid;
  border-radius: 20px;
  margin-top: 5%;
}

#req:hover
{
  background: linear-gradient(90deg, rgba(218,230,34,1) 0%, rgba(235,159,44,1) 100%);
  color: #07580c;
}

/* Видео парка */
#video
{
  background-color: aquamarine;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* Переход */
.perehod-sec
{
  height: 25vh;
  background: linear-gradient(90deg, rgba(113,217,90,1) 8%, rgba(220,245,7,1) 48%, rgba(255,179,0,1) 86%);
}

.perehod
{
  position: absolute;
  margin-top: -10vh;
  height: 40vh;
  /* margin-top: -40vh;
  height: 100vh; */
  width: 100%;
}

/* Описание парка */
@font-face {
  font-family: 'Roboto Condensed';
  src: url(fonts/RobotoCondensed-LightItalic.ttf);
}

#discription
{
  background-image: url(../pics/disc_back3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 515vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 15vh;
  padding-bottom: 15vh; */
  padding-top: 30vh;
  padding-bottom: 200vh;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  
}

.bor-dis
{
  border: 5px solid transparent;
  border-image: linear-gradient(to top right,rgb(0, 180, 75),rgb(0, 160, 0),rgb(52, 248, 52));
  -moz-border-image: -moz-linear-gradient(to top right,rgb(0, 180, 75),rgb(0, 160, 0),rgb(52, 248, 52));
  -webkit-border-image: -webkit-linear-gradient(to top right,rgb(0, 180, 75),rgb(0, 160, 0),rgb(52, 248, 52));
  border-image-slice: 1;
}

.discription-sec
{
  height: 130vh;
  width: 100vw;
  max-width: 80vw;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
  padding: 1rem;
}

.discription-text
{
  width: 45%;
  max-width: 70vw;
  font-size: 1.5em;
  margin: 0 0 0 0;
  background: rgba(192, 173, 3, 0.3);
  color: white;
  padding: 1rem;
  backdrop-filter: blur(3px);
  border: 2px solid transparent;
  border-image: linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(52, 248, 52));
  -moz-border-image: -moz-linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(52, 248, 52));
  -webkit-border-image: -webkit-linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(52, 248, 52));
  border-image-slice: 1;
}

.discription-image-view
{
  height: 45vh; /*Я ДОБАВИЛ*/
  width: 50%; /*Я ДОБАВИЛ*/
  border-radius: 10px;
  border: #ccc solid;
  box-shadow: 0 0 10px #444;
}

.first-discription-image
{
  background-image: url(../pics/discription_image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 40vh; /*Я ДОБАВИЛ
  width: 50%; /*Я ДОБАВИЛ
  border-radius: 10px;
  border: #ccc solid;
  box-shadow: 0 0 10px #444; */
}

.important-info
{
  color: green;
  background-color: white;
  background: rgba(54, 234, 9, 0); /*Делает фон текста прозрачным*/
}

/* Описание парка - Вторая секция */
/* .second-discription-sec
{
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items:center;
  align-items: center;
  justify-content:space-around;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
} */

/* .second-discription-text
{
  font-size: 1.5em;
  width: 50%;
  height: 45vh;
} */

.second-discription-image
{
  background-image: url(../pics/second_disc_img2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 50vh;
  width: 50%;
  border-radius: 10px;
  border: #ccc solid;
  box-shadow: 0 0 10px #444; */
}

/* Описание парка - Третья секция */
/* .third-discription-sec
{
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items:center;
  align-items: center;
  justify-content:space-around;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
} */

/* .third-discription-text
{
  font-size: 1.5em;
  width: 50%;
  height: 45vh;
} */

.third-discription-image
{
  background-image: url(../pics/third_disc_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35% 50%;
  /* height: 50vh;
  width: 50%;
  border-radius: 10px;
  border: #ccc solid;
  box-shadow: 0 0 10px #444; */
}

/* Описание парка - Четвертая секция */
/* .fourth-discription-sec
{
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items:center;
  align-items: center;
  justify-content:space-around;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
} */

/* .fourth-discription-text
{
  font-size: 1.5em;
  width: 50%;
  height: 45vh;
} */

.fourth-discription-image
{
  background-image: url(../pics/fourth_disc_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 50vh;
  width: 50%;
  border-radius: 10px;
  border: #ccc solid;
  box-shadow: 0 0 10px #444; */
}

/* Описание парка - Пятая секция */
/* .fifth-discription-sec
{
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items:center;
  align-items: center;
  justify-content:space-around;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
} */

/* .fifth-discription-text
{
  font-size: 1.5em;
  width: 50%;
  height: 45vh;
} */

.fifth-discription-image
{
  background-image: url(../pics/fifth_disc_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 50vh;
  width: 31%;
  border-radius: 10px;
  border: #ccc solid;
  box-shadow: 0 0 10px #444; */
}

/* Описание парка - Шестая секция */
/* .sixth-discription-sec
{
  height: 100vh;
  width: 80%;
  display: flex;
  justify-items:center;
  align-items: center;
  justify-content:space-around;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
} */

/* .sixth-discription-text
{
  font-size: 1.5em;
  width: 40%;
  height: 45vh;
} */

.sixth-discription-image
{
  background-image: url(../pics/sixth_disc_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 50vh;
  width: 5%;
  border-radius: 10px;
  border: #ccc solid;
  box-shadow: 0 0 10px #444; */
}

/* Стоимость и информация о программах */
.programm
{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4em 1em;
}

.programm-base, .programm-arend, .programm-sport-orient, .programm-search-treasures, .programm-forest-adventure
{
  width: 33%;
}

.programm-base-head, .programm-arend-head, .programm-sport-orient-head
{
  text-transform: uppercase;
}

.lower-text
{
  text-transform: lowercase;
  background: rgba(54, 234, 9, 0);
  font-size: .8em;
  color: red;
}

.programm-base-list li, .programm-arend-list li, .programm-sport-orient-list li
{
  color: green;
}

.programm-base-list li::marker, .programm-arend-list li::marker, .programm-sport-orient-list li::marker
{
  font-size: 1.5em;
}

.programm-base-list span, .programm-arend-list span, .programm-sport-orient-list span
{
  color: blue;
  font-size: 1.5em;
  font-weight: bold;
}

.programm-search-treasures-head, .programm-forest-adventure-head
{
  text-align: center;
  margin-top: 1rem;
}

.programm-search-treasures-text, .programm-forest-adventure-text
{
  font-size: 1.2em;
}

.warning
{
  color: red;
  background-color: white;
  font-size: 1.5em;
}

/* Стоимость и информация о программах - В поисках сокровищ */
.programm-search-treasures
{
  border: goldenrod solid;
  border-radius: 10px;
  box-shadow: 0 0 10px goldenrod;
}

.programm-search-treasures-head
{
  text-transform: uppercase;
  color: gold;
}

/* Стоимость и информация о программах - Лесные приключения */
.programm-forest-adventure
{
  border: green solid;
  border-radius: 10px;
  box-shadow: 0 0 10px green;
}

.programm-forest-adventure-head
{
  text-transform: uppercase;
  color: greenyellow;
}

/* Стоимость и информация о программах - Базовая программа */

/* Стоимость и информация о программах - Аренда парка */

/* Стоимость и информация о программах - Спортивное ориентирование*/

/* Форма не выезжающая */
#form
{
  width: 100%;
  height: 40vh;
  background-color: red;
}

.inputgroup
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#send
{
  width: 11vw;
  margin: 0 auto;
  outline: 0;
  border-radius: 0.5em;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: transparent;
  text-align: center;
  transition: linear .3s;
  color: white;
}

#send:hover
{
  background-color: blueviolet;
}

#send:active
{
  background-color: red;
}

/* Месторасположение */

@font-face 
{
  font-family: 'Roboto Regular';
  src: url(fonts/RobotoCondensed-Regular.ttf);
}

.map-sec
{
  height: 80vh;
  width: 100%;
  font-family: 'Roboto Regular';
  font-style: italic;
}

.map-head
{
  text-align: center;
  text-transform: uppercase;
  color: yellowgreen;
}

#map
{
  background-color: black;
  width: 50%;
  height: 500px;
}

.map-content
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contacts
{
  width: 30%;
}

.adress, .contacts-tel, .work-time
{
  text-transform: uppercase;
}

.adress-text, .contacts-tel-text, .work-time-text
{
  font-size: 2.5em;
}

/* Загрузочный экран */
.Pre-loaded
{
  height: 1200vh;
  width: 100%;
  padding-top: 50vh;
  background-color: azure;
  text-align: center;
  position: fixed;
  overflow-y: hidden;
  z-index: 50;
  background-image: url(../pics/Preloader_img.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.Pre-loaded::-webkit-scrollbar
{
  width: 0;
}

.quiver 
{
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: 899;
  margin-bottom: -50px;
  margin-left: -50px;
  width: 100px;
}
  
.arrows
{
  -moz-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
  -webkit-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
  animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
  vertical-align: baseline;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 1px 10px;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #0B486B rgba(255, 255, 255, 0);
}
  
.st 
{
  border-bottom-color: #0B486B;
}
  
.nd 
{
  border-bottom-color: #3B8686;
}
  
.rd 
{
  border-bottom-color: #79BD9A;
}
  
.th 
{
  border-bottom-color: #A8DBA8;
}
  
.fth 
{
  border-bottom-color: #CFF09E;
}

span:nth-child(1) 
{
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
  
span:nth-child(2) 
{
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

span:nth-child(3) 
{
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

span:nth-child(4) 
{
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

span:nth-child(5) 
{
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-moz-keyframes equalizor 
{
  from 
  {
    border-bottom-width: 60px;
  }
  to 
  {
    border-bottom-width: 1px;
  }
}
@-webkit-keyframes equalizor 
{
  from 
  {
    border-bottom-width: 60px;
  }
  to 
  {
    border-bottom-width: 1px;
  }
}

@keyframes equalizor 
{
  from 
  {
    border-bottom-width: 60px;
  }
  to 
  {
    border-bottom-width: 1px;
  }
}

/* * 
{
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

.loading 
{
  display: block;
  font: normal 22px/1em "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  /* color: #CFF09E; */
  color: #4d6d1e;
}