/* Месторасположение */

.map-sec
{
  height: 80vh;
  width: 100%;
  font-family: 'Roboto Regular';
  font-style: italic;
  background-image: url(../pics/map_main.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 7vh;
}

.contacts h4
{
  color: rgb(255, 189, 7);
}

.contacts p
{
  color:rgb(251, 255, 123);
  font-size: 1.9em;
}

.map-head
{
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 189, 7);
}

#map
{
  background-color: rgb(243, 255, 116);
  width: 50%;
  height: 60vh;
  margin: 0;
}

.map-content
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contacts
{
  width: 30%;
}

.adress, .contacts-tel, .work-time
{
  text-transform: uppercase;
}

.adress-text, .contacts-tel-text, .work-time-text
{
  font-size: 2.5em;
}
