/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ПОД СМАРТОФОНЫ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 576px) 
{
    /* Загрузочный экран */
    .Pre-loaded
    {
        background-image: url(../pics/mobile_preloader_img.webp);
        height: 100vh;
    }

    /* Превью */
    .preview.preview
    {
        height: 100vh;
        background-image: url(../pics/---.webp);
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }

    .preview-text.preview-text
    {
        font-size: 3em;
        margin-top: 20vh;
    }

    #Tan#Tan
    {
        font-size: 1em;
    }

    .preview-img.preview-img
    {
        /* height: 50vh; */
        display: none;
    }

    #req#req
    {
        height: 10vh;
        width: 65%;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 50vh;
    }

    /* Описание парка */
    #discription#discription
    {
        height: 750vh;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 0;
    }

    /* Описание парка - Первая секция */
    .first-discription-sec
    {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }

    .first-discription-image.first-discription-image
    {
        margin-left: auto;
        margin-right: auto;
        height: 50vh; /*Я ДОБАВИЛ*/
        width: 90%; /*Я ДОБАВИЛ*/
    }

    .first-discription-text.first-discription-text
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        width: 100%;
        height: 45vh;
    }

    /* Описание парка - Вторая секция */

    .second-discription-sec.second-discription-sec
    {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin-top: 45vh;
    }

    .second-discription-image.second-discription-image
    {
        margin-left: auto;
        margin-right: auto;
        height: 50vh; /*Я ДОБАВИЛ*/
        width: 90%; /*Я ДОБАВИЛ*/
        background-position: center;
    }

    .second-discription-text.second-discription-text
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        width: 100%;
        height: 35vh;
    }

    /* Описание парка - Третья секция */
    .third-discription-sec.third-discription-sec
    {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }

    .third-discription-text.third-discription-text
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        width: 100%;
        height: 25vh;
    }

    .third-discription-image.third-discription-image
    {
        margin-left: auto;
        margin-right: auto;
        height: 50vh; /*Я ДОБАВИЛ*/
        width: 90%; /*Я ДОБАВИЛ*/
        background-position: center;
    }

    /* Описание парка - Четвертая секция */
    .fourth-discription-sec.fourth-discription-sec
    {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .fourth-discription-text.fourth-discription-text
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        width: 100%;
        height: 20vh;
    }

    .fourth-discription-image.fourth-discription-image
    {
        margin-left: auto;
        margin-right: auto;
        height: 50vh; /*Я ДОБАВИЛ*/
        width: 90%; /*Я ДОБАВИЛ*/
        background-position: center;
    }

    /* Описание парка - Пятая секция */
    .fifth-discription-sec.fifth-discription-sec
    {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }

    .fifth-discription-text.fifth-discription-text
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        width: 100%;
        height: 20vh;
    }

    .fifth-discription-image.fifth-discription-image
    {
        margin-left: auto;
        margin-right: auto;
        height: 50vh; /*Я ДОБАВИЛ*/
        width: 90%; /*Я ДОБАВИЛ*/
        background-position: center;
    }

    /* Описание парка - Шестая секция */
    .sixth-discription-sec.sixth-discription-sec
    {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .sixth-discription-text.sixth-discription-text
    {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        width: 100%;
        height: 25vh;
    }

    .sixth-discription-image.sixth-discription-image
    {
        margin-left: auto;
        margin-right: auto;
        height: 50vh; /*Я ДОБАВИЛ*/
        width: 90%; /*Я ДОБАВИЛ*/
        background-position: center;
    }

    /* Стоимость и информация о программах */
    .programm.programm
    {
        flex-direction: column;
        flex-wrap: wrap;
        height: 600vh;
    }

    .programm-base, .programm-arend, .programm-sport-orient, .programm-search-treasures, .programm-forest-adventure
    {
        min-width: 100%;
        height: 100vh;
    }

    /* Месторасположение */
    .map-sec.map-sec
    {
        height: 150vh;
    }

    .map-content.map-content
    {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #map#map
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .contacts.contacts
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vh;
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ПОД СТАРОЕ РАЗРЕШЕНИЕ НОУТОВ (1360х768, 1366х768)!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */