/* Превью */
.preview
{
  height: 125vh;
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: center;
}

.preview img
{
  height: 125vh;
  width: 100%;
  /* filter: brightness(20%); */
  position: absolute;
}

.preview-text
{
  font-size: 5em;
  color: yellowgreen;
  text-shadow: 5px 5px 10px #000;
  -webkit-text-stroke: .5px white;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  font-family: 'AmaticSC Bold';
  margin-top: 20vh;
}

#Tan
{
  background:linear-gradient(to top right,rgb(0, 180, 75),rgb(0, 160, 0),rgb(52, 248, 52));
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2em;
  font-family: 'AmaticSC Bold';
  position: relative;
  color:transparent;
}

#logo
{
  position: absolute;
  width: 30vw;
  height: 30vh;
  top: 0;
  background-image: url(../pics/logotype.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Превью - Кнопка перекидывающая на форму */
#req
{
  width: 30vw;
  height: 15vh;
  text-align: center;
  word-wrap: break-word;
  transition: linear .5s;
  position: relative;
  /* background: linear-gradient(90deg, rgba(191,221,108,1) 0%, rgba(121,214,94,1) 50%, rgba(22,138,14,1) 100%); */
  background-color: #50bd38;
  color: #FFEB73;
  font-weight: bold;
  font-size: 30px;
  border: #07580c 5px solid;
  border-radius: 20px;
  margin-top: 5%;
}

#req:hover
{
  background: linear-gradient(90deg, rgba(218,230,34,1) 0%, rgba(235,159,44,1) 100%);
  color: #07580c;
}