/* Стоимость и информация о программах */
#program
{
  height: 50vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4em 1em;
  background-image: url(../pics/Program_back2.webp);
  
}

.program-item
{
  /* background: linear-gradient(37deg, rgba(222,224,221,1) 0%, rgba(247,204,108,1) 53%, rgba(247,218,0,1) 100%); */
  background: rgba(222,224,221,1);
  width: 25vw;
  height: auto; 
  border: transparent solid 3px;

  border-image: linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(255, 94, 0));
  -moz-border-image: -moz-linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(255, 94, 0));
  -webkit-border-image: -webkit-linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(255, 94, 0));
  border-image-slice: 1;

  font-family: 'Roboto Condensed';
  font-size: 20px;
  color:#00583b;
  position: relative;
  transition: color linear .3s;
  transition: background-color .5s ease;
  cursor: pointer;
  
  position: relative;
  transition: background 0.5s;
}



.program-item h2
{
  padding-top: 1vh;
  text-align: center;
  font-family: 'AmaticSC Bold';
  text-decoration:underline;

  /*color: rgb(143, 238, 0);*/
  color: rgb(105, 161, 20);
}

.program-item p
{
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  color:#ff7100;
  font-weight: 700;
  
}

.program-item a
{
  width: unset;
  height: unset;
}

.program-item ul
{
  margin:0;
  position: relative;
}

.program-item:hover
{
  /*color:white;*/
  /*background-color: #00583b;*/
  /* background: linear-gradient(14deg, rgba(222,224,221,1) 0%, rgba(69,93,23,1) 0%, rgba(171,231,89,1) 70%); */
  background-position: -24vw;
  background: unset;
  background-color: #3d5c04;

}

