/* Стоимость и информация о программах */
#program
{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4em 3em;
  background-image: url(../pics/Program_back.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.program-item
{
  background: #3d5c04;
  width: 25vw;
  height: auto; 
  border: transparent solid 3px;
  padding: 1rem;

  border-image: linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(255, 94, 0));
  -moz-border-image: -moz-linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(255, 94, 0));
  -webkit-border-image: -webkit-linear-gradient(to top right,rgb(175, 214, 3),rgb(223, 164, 1),rgb(255, 94, 0));
  border-image-slice: 1;

  font-family: 'Roboto Condensed';
  font-size: 20px;
  color: white;
  position: relative;
  transition: color linear .3s;
  transition: .5s background ease;
  cursor: pointer;
  position: relative;
}

.program-item h2
{
  padding-top: 1vh;
  text-align: center;
  font-family: 'AmaticSC Bold';
  text-decoration:underline;
  color: #39E639;
}

.program-item p
{
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  color:#FF6C00;
  font-weight: 700;
}

.program-item a
{
  width: unset;
  height: unset;
}

.program-item ul
{
  padding-left: 5vw;
}

#program-items
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 1em;
    width: 100%;
}

#program .req
{
    margin: 0;
    margin-bottom: 5%;
}

@media (min-width: 576px)
{
  .program-item:hover
  {
    background-position: -24vw;
    background: unset;
    background-color: #ffffff;
    color: #3d5c04;
  }
}

