/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ПОД СМАРТОФОНЫ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (max-width: 576px) 
{
    /* Загрузочный экран */
    .Pre-loaded
    {
        background-image: url(../pics/mobile_preloader_img.webp);
        height: 500vh;
        background-size: cover;
    }

    /* Анкета */
    #anketa
    {
        overflow-y: scroll;
    }

    #anketa p
    {
        position: absolute;
        font-size: 2em;
        padding-top: 2.5vh;
        padding-bottom: 1vh;
    }

    #age-child, #count-child, #time-child, #data-child
    {
        padding: 1em;
    }

    form fieldset h2
    {
        font-size: 1.2em;
    }

    #age-child
    {
        padding-top: 10vh;
    }

    #inner_form
    {
        flex-direction: column;
        padding-top: 1vh;
    }

    form input
    {
        width: auto;
    }

    #form img
    {
        height: 110%;
        width: 105%;
        position: fixed;
    }

    #anketa-sec
    {
        width: 100%;
        height: 102%;
        position: static;
    }

    form
    {
        padding: 0;
    }

    #nn
    {
        padding: 0;
    }

    #send
    {
        width: auto;
    }

    /* Переход */
    .perehod
    {
        height: auto;
        margin-top: -2em;
    }

    #perehod-program
    {
        height: auto;
        margin-top: -1.5em;
    }

    #perehod-routes
    {
        height: auto;
        margin-top: -2em;
    }

    #perehod-map
    {
        height: auto;
        margin-top: -1em;
    }

    /* Превью */
    .preview
    {
        height: 100vh;
        background-image: url(../pics/---.webp);
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }

    .preview-text
    {
        font-size: 3em;
        margin-top: 20vh;
    }

    #Tan#Tan
    {
        font-size: 1em;
    }

    .preview-img
    {
        /* height: 50vh; */
        display: none;
    }

    #req
    {
        height: 10vh;
        width: 65%;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 50vh;
    }

    /* Описание парка */
    #discription
    {
        height: 1100vh;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 0;
        background-image: url(../pics/mobile_disc_back.webp);
        background-size: contain;
    }

    .discription-sec
    {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        height: 150vh;
        min-width: 100%;
    }

    .discription-text
    {
        font-size: 1.5em;
        min-width: 100%;
    }

   #second-discripction-sec, #fourth-discripction-sec, #sixth-discripction-sec
   {
    flex-direction: column;
   }

   .discription-image-view
   {
    background-position: center;
    width: 100%;
   }

    /* Стоимость и информация о программах */
    #program
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: 180vh;
        padding: 0 0 0 0;
    }

    .program-item
    {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    /* Маршруты */
    #routes
    {
        height: 30vh;
    }

    #routes-img
    {
        height: 30vh;
    }

    /* Месторасположение */
    .map-sec
    {
        height: 150vh;
    }

    .map-content
    {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #map
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .contacts
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vh;
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ПОД СТАРОЕ РАЗРЕШЕНИЕ НОУТОВ (1360х768, 1366х768)!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */